.login-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  /* background: #f7f7f7; */
}

.login-card {
  width: 350px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-inline: 3rem;
  /* padding-block-end: 4rem; */
  gap: 0.3rem;
  color: gray;
  border-radius: 5px;
  box-shadow: -2px 4px 8px -1px rgba(183, 168, 168, 0.75);
  -webkit-box-shadow: -2px 4px 8px -1px rgba(183, 168, 168, 0.75);
  -moz-box-shadow: -2px 4px 8px -1px rgba(183, 168, 168, 0.75);
}

.login-card h3 {
  margin: 1rem 0 0.5rem 0;
}

.login-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-input label {
  font-size: 14px;
  text-align: start;
  font-weight: 500;
  margin-bottom: 2px;
}

.login-input input {
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  border: 1px solid #9a9a9a;
  font-size: 12px;
}

.login-forgot-details {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid black; */
}

.show-password {
  margin-left: -4px;
}
.remember-me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.create-new-account {
  display: flex;
  color: grey;
  font-size: 14px;
  text-decoration: none;
  /* border: 1px solid black; */
}

.create-new-account:hover {
  color: black;
}
.signup-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  /* background: #f7f7f7; */
}

.signup-card {
  width: 400px;
  /* height: 90%; */
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-inline: 4rem;
  padding-block-end: 2rem;
  border-radius: 5px;
  line-height: 2;
  box-shadow: -2px 4px 8px -1px rgba(183, 168, 168, 0.75);
  -webkit-box-shadow: -2px 4px 8px -1px rgba(183, 168, 168, 0.75);
  -moz-box-shadow: -2px 4px 8px -1px rgba(183, 168, 168, 0.75);
}

.signup-card h3 {
  margin: 1rem 0 0.6rem 0;
}

.signup-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: start;
}

.signup-input label {
  font-size: 0.8rem;
}

.signup-input input {
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  border: 1px solid #9a9a9a;
  font-size: 12px;
}

.signup-input input:focus {
  outline: 2px solid lightblue;
  border: 1px solid white;
}

.signup-forgot-details {
  margin-top: 0.3rem;
  display: flex;
  font-size: 12px;
  text-align: start;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.forgot-password {
  color: #3b82f6;
}

.remember-me,
.create-new-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.address-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
}

.active-button {
  border: none;
  padding: 0.3rem 0.5rem;
  width: 60%;
  background-color: white;
  color: gray;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid lightblue;
}

.active-button:hover {
  color: white;
  background-color: lightblue;
  transition: 700ms;
  border: 1px solid lightblue;
}

.bottom-btns {
  margin-top: 5px;
  line-height: 1.5;
  text-align: center;
}

.signup-input label p {
  font-size: 12px;
  font-weight: 500;
}

.logout-container {
  height: 50vh;
  color: gray;
  margin-top: 4rem;
  line-height: 2;
}

.link {
  text-decoration: none;
}

.link-to-home {
  color: gray;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
}

.link-to-home:hover {
  background-color: lightblue;
  transition: 500ms;
  color: white;
}
