.navbar-container {
  width: 100%;
  /* border: 1px solid gray; */
  height: 90vh;
  border-radius: 5px;
  box-shadow: 0 0 16px -8px rgba(36, 113, 173, 0.68);
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-left: 3rem;
}

.active {
  color: lightskyblue !important;
  font-size: 18px;
  font-weight: 500 !important;
  transition: 150ms;
  /* background-color: rgb(220, 237, 243); */
}

.navlink,
.active {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
  line-height: 2;
}

.navlink {
  color: black;
  font-weight: 400;
}

.navlink:hover {
  color: lightblue;
}
