.App {
  text-align: center;
  padding: 0 4rem;
  /* background-color: black;
  color: white; */
}

.homepage-layout {
  display: grid;
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  gap: 1rem;
  /* border: 1px solid black; */
  margin-top: 1rem;
}

.sidebar {
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 16px -8px rgba(36, 113, 173, 0.68);
}

.page-container {
  max-height: 100vh;
  overflow: auto;
  /* overflow: scroll; */
}
